.Botao{
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #47a36f;
    border-radius: 20px;
    border: 1px solid #47a36f;
    color: white;
    &:hover{
        background-color: #64e09a
    }
}