.Home {
  header {
    background-image: url(../imagens/banner.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
  }
  div {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
